:root {
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  :root {
    font-size: 16px;
  }
}

body {
  font-family: 'Spectral', serif;
  color: white;
  user-select: none;
}

/**
  Lenis specific styles
  https: //github.com/studio-freight/lenis#recommended-css
  */
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
